

*{
    font-family: monospace;
    box-sizing: border-box;

}

/* Define custom color in :root */
:root {
    --background: #0a192f; /* Replace with your preferred lightest navy color */
  }

  /* Apply styles for the scrollbar */
::-webkit-scrollbar {
    width: 12px;  /* Adjust the width of the scrollbar */
}

/* Style the scrollbar track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background-color: var(--background); /* Use the same background color as the root */
}

/* Style the scrollbar thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #4a6a80; /* You can customize this color */
    border-radius: 10px;
    border: 3px solid #233554; /* Optional: Add a border that matches the root background */
}

/* Optionally, style the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #607d8b; /* A lighter color on hover */
}

  
  /* Apply the background to body */
body {
    background-color: var(--background) !important;

    
  }

  html, body { overflow-x:hidden!important; }



  .light-navy {
    background-color: #0a192f;
    padding: 20px;
    box-shadow: none;
  }

  /* Remove hover background on navbar-item */
.navbar-item:hover {
    background-color: transparent !important;
  }
  
  
  /* Custom style for transparent navbar background */
.navbar.is-transparent {
    background-color: transparent !important;
    box-shadow: none; /* Remove shadow if any */
  }
  

.button.is-primary.is-outlined {
    transition: all 0.3s ease; /* Smooth transition */

  }
  
  .button.is-primary.is-outlined:hover {
    transform: scale(1.1) translate(-8px, -2px); /* Scale and move slightly to the top-left */
    transform-origin: top left; /* Scale and translate from upper-left corner */
  }

  .navbar-item{
    color: white!important;
    margin-right: 0; /* No margin on small screens */
  }

  @media screen and (min-width: 1024px) {
    .navbar-item {
        margin-right: 1.25rem; /* equivalent to mr-5 */
    }
}

  .navbar-item:hover {
    color: 	hsl(171, 100%, 41%) !important; /* Bulma's primary color */
  }
  .navbar-item:focus {
    background-color: transparent !important;
    outline: none; /* Optional: removes the outline that appears on focus */
  }

  
  
  .my-name {
    margin: 0px 0px 30px 4px;
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 400;
    line-height: 1.1;
  }

  .hero {
    padding: 200px 0 0 0;
    min-height: 100vh;
    height: 100vh;
    justify-content: initial; /* or unset */

  }

  .name {
    color: #ccd6f6;
    font-weight: 600;
    line-height: 1.1;
    font-size: clamp(35px, 8vw, 70px);
    font-family: sans-serif;
  }

  .description {
    margin-top: 5px;
    color: #8892b0;
    line-height: 0.9;
    font-size: clamp(30px, 8vw, 65px);
    font-weight: 600;
    font-family: sans-serif;
    
  }
  
  .caption{
    margin: 20px 0px 0px;
    max-width: 540px;
    color: #8892b0;
    font-family: sans-serif;
  }

  .learn {
    width: 180px;
  }

  .main {

    padding: 0px 25px;
  }

  section{
    margin: 0px auto;
    max-width: 1000px;
  }

/* Base styles for both asides */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 20px;
  height: 100vh;
  position: fixed;
}

/* Left aside */
.left {
  left: 60px;
  bottom: 0;
}

.left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-border {
  width: 1px;
  height: 100px; /* Adjust height as needed */
  background-color: #8892b0; /* Change color as needed */
  margin-top: 10px; /* Space between ul and line */
}

/* Right aside */
.right {
  right: 60px;
  bottom: 0;
}

.right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.email {
  writing-mode: vertical-rl;
  letter-spacing: 0.1em;
  color: #8892b0;
}

.right-border {
  width: 1px;
  height: 100px; /* Adjust height as needed */
  background-color: #8892b0; /* Change color as needed */
  margin-top: 10px; /* Space between email and line */
}

/* Hide asides on tablets and smaller screens */
@media (max-width: 786px) {
  aside {
    display: none;
  }

  section{
   margin: 0px 10px;
  }

  .hero {
    padding-top: 100px;
  }

  .about-inner{
    display: block!important;
  }
}

@media (max-width: 1024px) {

  section{
    max-width: 800px;
  }
  

}

@media (max-width: 320px) {

  .pic{
    max-width: 250px!important;
  }
  

}
li {
  margin-top:30px;
}



.about-me{
    padding: 100px 0;

}

.about-header{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px 40px;

  
}
.about{
  font-weight: 600;
  color: #ccd6f6;
  line-height: 1.1;
  margin: 0;
  font-size: clamp(26px, 5vw, 32px);
  font-family: sans-serif;
  white-space: nowrap;
  
}

.about-line {
  width: 400px;
  height: 2px; /* Set the height of the line */
  background-color: #8892b0; /* Set line color */
  margin-left: 10px;
}

.about-paragraph{
  color: #8892b0;
  margin: 0 0 15px;
  font-family: sans-serif;
  font-size: clamp(16px, 5vw, 17px);
}

.about-inner{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.pic-wrapper{
  text-align: center;
}

.pic {
  position: relative;
  max-width: 300px;
  object-fit: cover;
  opacity: 0.7;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 8px;
  box-shadow: 0 6px 30px rgba(0, 209, 178, 0.3); /* Bulma primary color for shadow */
  transition: opacity 0.25s linear, transform 0.25s ease, box-shadow 0.25s ease, border 0.25s ease;
  margin: 40px auto 0;
}

.pic:hover {
  opacity: 1; /* Restores the original image opacity on hover */
  transform: translate(-10px, -10px) scale(1.05) translateZ(0); /* Moves the image up-left */
  border-right: 4px solid #00d1b2; /* Bulma primary color for the right border */
  border-bottom: 4px solid #00d1b2; /* Bulma primary color for the bottom border */
  box-shadow: 0 20px 60px rgba(0, 209, 178, 0.5); /* Thicker shadow with Bulma primary color */
  will-change: opacity, transform, box-shadow, border;
}


.text-link{
  font-family: sans-serif;
  font-size: clamp(16px, 5vw, 17px);
}
.text-link:hover {
  color: #00d1b2; /* Optional hover color for text */
  text-decoration: underline;
}


.skills{
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 200px));
  gap: 0px 3px;
  padding: 0px;
  margin: 10px 0px 0px;
  overflow: hidden;
  list-style:none;
  font-size: 12px;
}

.skills li{
  margin: 10px;
  padding-left: 10px;
}

.skills li:before{
  content: "▹";
  padding-right: 10px;
  left: 0px;
  color: #00d1b2;
  font-size: 14px;
  line-height: 12px;
}

#particles-container, canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
